# Python dirs
__pycache__/
.venv/
*.pyc

# Logs
logs/sync.log
logs/sync_state.json

# ENV files
.env
.env.example

# Docker files
.dockerignore
Dockerfile
docker-compose.yml

# Git
.github/
.git/
.gitignore

# Documentation
*.md

# IDE
.vscode
.idea
*.swp

# AI
.claude/